body {
    font-family: 'SF Compact', 'Arial';
    padding: 20px;
    box-sizing: border-box;
}

footer {
    position: fixed;
    box-sizing: border-box;
    height: 60px;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    background-color: white;
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
}

.nav-item {
    background-color: white;
    border-style: none;
    height: 50px;
    width: 70px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

h1 {
    display: inline-block;
    margin-bottom: 0;
}

.amount-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

input[name="amount"] {
    margin-top: 10vh;
    width: 150px;
    height: 50px;
    font-size: 40px;
    border-style: none;
    text-align: center;
}

/* remove arrows*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.primary {
    display: inline-flex;
    padding: 8px 12px 8px 15px;
    justify-content: center;
    align-items: center;
    gap: 27px;
    width: 128px;
    border-radius: 8px;
    background: #06F;
    box-shadow: 0px 4px 12px 0px rgba(0, 102, 255, 0.12);
    color: white;
    font-size: 16px;
}

.new-transaction-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
}

.new-transaction-from-to {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-transaction-amount,
.new-transaction-from-to span {
    border-radius: 4px;
    border: 1px solid #BFBFBF;
    padding: 2px 6px;
    color: #BFBFBF;
    height: 22px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.new-transaction-amount.active {
    border: 1px solid #0B8400;
    color: #0B8400;
}

.new-transaction-from-to span.active {
    color: #0066FF;
}

.step-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.query-wrapper {
    height: 28px;
    border-radius: 8px;
    border: 1px solid #BFBFBF;
    display: flex;
    align-items: center;
    padding-left: 6px;
}

.query-wrapper input {
    border: 0;
    outline: 0;
    font-size: 16px;
}

.accounts-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 12px;
    flex-basis: 30%;
    max-height: 60vh;
    overflow: visible;
    margin-bottom: 20vh;
}

.accounts-list .account-widget {
    min-height: 60px;
    border-radius: 8px;
    border: 1px solid #BFBFBF;
    padding: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.account-widget .top-line {
    display: flex;
    gap: 8px;
    font-weight: 500;
    align-items: center;
}

.account-widget .bottom-line {
    padding: 3px;
    color: #707070;
    font-weight: 300;
}

.account-widget.active {
    border-radius: 8px;
    border: 1px solid #06F;
    box-shadow: 0px 4px 12px 0px rgba(0, 102, 255, 0.81);
    color: #0066FF;
}

.transaction-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    font-size: 16px;
}

.transaction-info label {
    font-weight: 500;
    margin-top: 20px;
}

.transaction-info input {
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #BFBFBF;
    padding: 5px;
    background-color: #f6f6f6;
}

.transaction-info input[name="note"] {
    width: 70vw;
}

.transaction-info button {
    margin-top: 20vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.filter-wrapper {
    margin-top: 20px;
    display: flex;
    gap: 8px;
}

.filter-wrapper .query-wrapper {
    width: 50vw;
    height: 26px;
}

.filter-wrapper .query-wrapper input {
    width: 85%;
}

.filter-wrapper button {
    height: 28px;
    border-radius: 8px;
    border: 1px solid #BFBFBF;
    display: flex;
    align-items: center;
    padding: 0 8px;
    background-color: white;
    color: #BFBFBF;
}

.filter-wrapper .old, .filter-wrapper .unsynced {
    border: 1px solid #d55c00; 
    color: #d55c00;
}

.filter-wrapper .new, .filter-wrapper .synced {
    border: 1px solid #0066FF; 
    color: #0066FF;
}

.transactions-list {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    gap: 8px;
    margin-bottom: 10vh;
}

.transaction-widget {
    display: flex;
}

.transaction-box {
    border-radius: 8px;
    border: 1px solid #0066ff96;
    padding: 8px;
    width: 280px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #707070;
    font-weight: 300;
    gap: 8px;
}

.transaction-box .top-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.transaction-box .top-line .transaction-details {
    display: flex;
    align-items: center;
}

.transaction-box .amount {
    border-radius: 4px;
    border: 1px solid #0B8400;
    color: #0B8400;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px 4px;
    font-weight: 300;
    margin-right: 12px;
}

.transaction-box .account {
    border-radius: 4px;
    border: 1px solid #BFBFBF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px 4px;
    color:#0066FF;
}

.synced {
    border: 1px solid #EBEBEB; 
}

.no-note {
    color: #BFBFBF;
}

.transaction-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 8px;
}

.transaction-actions img {
    height: 24px;
    width: 24px;
}

.fill-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0000003d;
    backdrop-filter: blur(2px);
    z-index: 3;
}

.modal {
    margin: 30px;
    padding: 20px;
    background-color: white;
    height: calc(100vh - 100px);
    border-radius: 8px;
    font-size: 16px;
}

.modal form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.modal label {
    color: #707070;
    margin-left: 8px;
}

.modal > form > input {
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #BFBFBF;
    padding: 5px;
    background-color: #f6f6f6;
    margin-bottom: 12px;
    margin-top: 4px;
    padding: 8px;
}

.modal .from-to {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.modal .selection {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.modal .selection select {
    font-size: 16px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #BFBFBF;
    background-color: #f6f6f6;
    min-width: 28vw;
    margin-top: 4px;
}

.modal img {
    margin-bottom: 18px;
}

.modal .buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
}

.checked-button {
    display: inline-flex;
    padding: 8px 12px 8px 15px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #d08000;
    box-shadow: 0px 4px 12px 0px rgba(208, 0, 0, 0.12); 
    color: white;
    font-size: 16px; 
    margin-top: 8px;
}

.checked-button.synced {
    background: #058900; 
}

.abort {
    display: inline-flex;
    padding: 8px 12px 8px 15px;
    justify-content: center;
    align-items: center;
    gap: 27px;
    width: 128px;
    border-radius: 8px;
    background: #D00000;
    box-shadow: 0px 4px 12px 0px rgba(208, 0, 0, 0.12); 
    color: white;
    font-size: 16px;
}

.accounts {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 12px;
    flex-basis: 50%;
    max-height: 60vh;
    overflow: visible;
    margin-bottom: 20vh;
    margin-top: 20px;
}

.accounts .account-widget {
    min-height: 60px;
    border-radius: 8px;
    border: 1px solid #BFBFBF;
    padding: 7px;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.accounts .account-widget-id {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.accounts .account-widget .top-line {
    display: flex;
    gap: 8px;
    font-weight: 500;
    align-items: center;
}

.accounts .account-widget .bottom-line {
    color: #707070;
    font-weight: 300;
}

.accounts .account-widget-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.accounts .account-widget-actions img {
    height: 24px;
    width: 24px;
    padding: 2px;
}